// Fuentes
$fuente_principal: 'Lato', sans-serif;

// Tamaño de Media Queries
$Telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores Principales
$azul-div: #1B8DD6;
$azul_fondo: #B2FBFD;
$gris: #E4E5DD;
$blanco: #F4F4F4;
$azul_oscuro: #295AA9;
$negro: #0F0F0F;
$negro-nav: #3a3a3a;

// Colores de Tipos

$normal: #A8A878;
$fuego: #F08030;
$peleador: #C03028;
$agua: #6890F0;
$volador: #A890F0;
$planta: #78C850;
$veneno: #A040A0;
$electrico: #F8D030;
$tierra: #E0C068;
$psiquico: #F85888;
$piedra: #B8A038;
$hielo: #98D8D8;
$insecto: #A8B820;
$dragon: #7038F8;
$fantasma: #705898;
$siniestro: #705848;
$acero: #B8B8D0;
$hada: #EE99AC;
$desconocido: #68A090;

$separacion: 5rem;

// Tamaño de fuentes

$regular: 300;
$bold: 400;
$black: 900;





